# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Package
package-lock.json
package.json

# Ignorar a pasta node_modules
node_modules/

# Ignorar o arquivo db.json
db/db.json

# Ambiente virtual
venv/
env/

# Configurações do IDE
.idea/
.vscode/

# Arquivos de log
*.log

# Arquivos temporários
*~
.DS_Store
Thumbs.db

# Cache
.pytest_cache/

# Arquivos de backup
*.bak
*.tmp
